* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#busqueda-reserva{
    display: flex;
}
.formulario {
    margin: 0 auto;
	height: 400px;
	display: none;
	flex-direction: column;
	justify-content: center;
}
.formulario h2{
    margin: 0 auto;
}
.formulario legend {
	font-size: 1em;
}
.formulario select,
.formulario input {
	width: 250px;
	border-radius: 5px;
	color: black;
}
.formulario button {
    margin: 0 auto;
	height: 50px;
	width: 100px;
    border-radius: 5px;
}
.grid-container {
	height: 100%;
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 75px 648px 100px;
	grid-template-areas:
		"header header  header"
		"nav    nav     nav"
		"main   aside    aside"
		"footer footer  footer";
}
.encabezado {
	grid-area: header;
}
.navegacion {
	grid-area: nav;
}
.principal {
	grid-area: main;
}
.lado {
	grid-area: aside;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 10px;
}
.lado div{
	height: 300px;
	width: 300px;
}
.pie {
	grid-area: footer;
}
.encabezado,
.navegacion,
.principal,
.lado,
.pie {
    display: flex;
    align-items: center;
    justify-content: center;
}
