* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$paleta: #ffffff, #ffddcd, #ffbb9c, #fa996c, #ef763d;
#busqueda-reserva {
	display: flex;
}
.formulario {
	margin: 0 auto;
	height: 400px;
	display: none;
	flex-direction: column;
	justify-content: center;
	h2 {
		margin: 0 auto;
	}
	legend {
		font-size: 1em;
	}
	select,
	input {
		height: 30px;
		width: 250px;
		border-radius: 5px;
		color: black;
	}
	button {
		margin: 0 auto;
		height: 50px;
		width: 100px;
		border-radius: 5px;
	}
}
#erroresDeBusqueda {
	height: 75px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: red;
	font-size: 1em;
	text-transform: capitalize;
}
.botonera {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
}
.grid-container {
	height: 100%;
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 75px 648px 100px;
	grid-template-areas:
		"header header  header"
		"nav    nav     nav"
		"main   aside    aside"
		"footer footer  footer";
}
.encabezado {
	grid-area: header;
	background: nth($paleta, 4);
}
.navegacion {
	grid-area: nav;
	background: nth($paleta, 5);
}
.xcard {
	background: nth($paleta, 1);
}
.principal {
	grid-area: main;
	background: nth($paleta, 2);
}
.lado {
	background: nth($paleta, 3);
	grid-area: aside;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	div {
		height: 300px;
		width: 300px;
	}
}
.pie {
	grid-area: footer;
	background: nth($paleta, 5);
}
.encabezado,
.navegacion,
.principal,
.lado,
.pie {
	display: flex;
	align-items: center;
	justify-content: center;
}
